
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 5.5rem;
  background: #f5f5f6;
  color: #222;
  font-family: 'roboto';
  font-size: 14px;
  font-weight: normal;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.4rem;
}

a {
  color: #222;
  text-decoration: none;
}

table {
  display: inline-block;
  font-size: 16px;
  font-family: arial;
  border-spacing: 0;
  text-align: center;

  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

thead,
tfoot {
  font-weight: bold;
}

thead > tr > td {
  background-color: #eaeaea;
}

tbody > tr:nth-child(odd) > td {
  background-color: #f4f4f4;
}

td {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #fafafa;
}

.color,
.clr {
  color: #1a73e8;
}

.show { display: block; }
.hide { display: none; }

input[type='text'], 
input[type='email'], 
input[type='tel'], 
textarea {
  margin: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 4px;
  transition: all 0.2s;
}
textarea { resize: none; }

input[type='button'], 
input[type='submit'], 
button {
  padding: 1rem;
  color: #fff;
  background-color: #1a73e8;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn, .btn-large, .btn-xlarge, .btn-xxlarge, .btn-xxxlarge {
  border-radius: 4px;
  text-transform: uppercase;
}

.btn {
  height: 3.6rem;
  font-size: 1rem;
}

.btn-large {
  height: 4rem;
  font-size: 1.4rem;
}

.btn-xlarge {
  height: 4.4rem;
  font-size: 1.8rem;
}

.btn-xxlarge {
  height: 4.8rem;
  font-size: 2.2rem;
}

.btn-xxxlarge {
  height: 5.2rem;
  font-size: 2.6rem;
}



.claymorphism-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 64px;
  padding: 1rem 1.6rem;
  margin: 0;
  border: 0;
  border-radius: var(--clay-border-radius, 32px);
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 0.25)),
        inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 0.25)),
        inset var(--clay-shadow-inset-secondary, 8px 8px 16px 0 hsla(0, 0%, 100%, 0.2));
  background-color: #1a73e8;
  color: #fff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
}