
#app-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 75vh;
  padding: 0.25rem;
  margin-bottom: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
}